@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

header a {
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  font-weight: 500;
}
nav ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 1px solid #E7E9FC;
  display: flex;
  align-items: center;
  padding: 16px 8px;
}
.address {
  font-weight: 400;
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.baslik {
  display: flex;
  margin-right: 76px;
  margin-left: 156px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", "Roboto", sans-serif;
}
#web {
  color: #4d5ae5;
}
#studio {
  color: #2e2f42;
}
#studioiki {
  color: #f4f4fd;
}
button {
  border: 4px solid #4d5ae5;
  text-align: center;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
}
.birinci {
  background-color: #2e2f42;
  padding: 60px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ikinci {
  color: #fff;
  font-size: 56px;
  text-align: center;
  line-height: 1.0714;
  font-weight: 700;
}
.onalti ul {
  display: flex;
  gap: 24px;
  padding: 120px 156px;
}

.onalti li {
  flex: 1;
}
.onalti p {
  font-size: 16px;
  line-height: 1.5;
}
.uc {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.bes {
  font-size: 36px;
  line-height: 1.1111;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.takimimiz {
  background-color: #f4f4fd;
    padding: 120px 156px;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.yedi {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 72px;
}
.yedi h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  flex-direction: row;
    justify-content: space-evenly;
}
.yedi p {
  font-size: 16px;
  line-height: 1.5;
  flex-direction: row;
    justify-content: space-evenly;
}
.portfolyo {
  padding: 120px 156px;
  text-align: center;
  gap: 24px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
  
}
.portfolio li {
  
  text-align: left;
  gap: 24px;
  
}
.portfolio h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111;
}
.app {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
button:hover {
  background-color: #404bbf;
  border: 4px solid #404bbf;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
footer {
  background-color: #2e2f42;
  font-size: 16px;
  color: #f4f4fd;
  padding: 40px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 156px;
}
footer a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1667;
  color: #f4f4fd;
  letter-spacing: 0.03em;
}
body {
  
  font-family: "Roboto", "Raleway", "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
nav :hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404bbf;
  letter-spacing: 0.02em;
  font-weight: 500;
}
address :hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404bbf;
  letter-spacing: 0.02em;
  font-weight: 400;
}
